$f-color : (
    "principal": #ffff ,
);



// $f-type: (
//     "titulo": "Montserrat, sans-serif",
// );



$f-px: (

     "titulo": 30px,
    "sub-titulo": 20px,
    "parrafo": 15px,
    "parrafo-cel":13px,
    
    ); 
    
    
$f-weight: (
    "titulo": bold,
    "parrafo": 400,
);
