.idx{
   
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     .id-tit{
        align-items: center;
        border: 3px solid white;
        border-radius: 10px;
        padding: 30px;
        background-color: rgba(210, 210, 210, 0.616);
        text-align: center;
        h1{
            
            color: map-get( $f-color , principal );
            font-size: map-get( $f-px , titulo );
        // font-family: map-get( $f-type , titulo );
            font-weight: map-get( $f-weight , titulo );
            font-family: 'Montserrat', sans-serif;
            
        }
    }

    
}

main .aca{
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
    padding: 15px;
    text-align: center;

    h1{
            
        color: map-get( $f-color , principal );
        font-size: map-get( $f-px , titulo );
    // font-family: map-get( $f-type , titulo );
        font-weight: map-get( $f-weight , titulo );
        font-family: 'Montserrat', sans-serif;
        
    }
    h2{
        color: map-get( $f-color , principal );
        font-size: map-get( $f-px , sub-titulo );
        // font-family: map-get( $f-type , titulo );
        font-weight: map-get( $f-weight , sub-titulo );
        font-family: 'Montserrat', sans-serif;
    }
    p{
        color: map-get( $f-color , principal );
        font-size: map-get( $f-px , parrafo );
        // font-family: map-get( $f-type , titulo );
        font-weight: map-get( $f-weight , parrafo );
        font-family: 'Montserrat', sans-serif; 
    }
}
    .mapgoogle{
        display: inline-block;
        width: 100%;
        height: 240px;  
        padding: 0px;
        border: none; 
}
    .main-des{
    height: 100%;
    grid-area: main;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: none;
    // background: none;
    // padding: 15px;
    // text-align: center;
    .des{
        margin-top: 20px;
        margin-bottom: 20px;
        h1{
            color: map-get( $f-color , principal );
            font-size: map-get( $f-px , titulo );
        // font-family: map-get( $f-type , titulo );
            font-weight: map-get( $f-weight , titulo );
            font-family: 'Montserrat', sans-serif;
        }
    // }
     .carousel{
         width:100%;
         height:100%;
    }



    
}
    }

    .main-ct{
        margin-top: 45PX;
        grid-area: main;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: none;
        // background: none;
        // padding: 15px;
        // text-align: center;
        
        }
    





   .main-ti{
    grid-area: main;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
        
    
   }
   
   .card-1{
        @include card;

        .img-card{
            width: 100%;
            height: 50%;
            background-image: url(/img/card-1.png);
           
        }
        .titulo{
            margin-top: 10px;
            
        }
        
        
            
        }
        .card-2{
        @include card;

        .img-card{
            width: 100%;
            height: 50%;
            background-image: url(/img/card-1.png);
        }
        .titulo{
            margin-top: 10px;
            
        }
    }
    
    .card-3{
        @include card;

        .img-card{
            width: 100%;
            height: 50%;
            background-image: url(/img/card-1.png);
        }
        .titulo{
            margin-top: 10px;
            
        }
    }
    .card-4{
        @include card;

        .img-card{
            width: 100%;
            height: 50%;
            background-image: url(/img/card-1.png);
        }
        .titulo{
            margin-top: 10px;
            
        }
    }
@media screen and (max-width: 580px){
    .main-aca{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 15px;
      margin-top: 45px;

    .main-aca h1{
        margin-top: 45px;
    }
}

.main-aca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 15px;
  margin-top: 45px;

.main-aca h1{
    margin-top: 45px;
}
}
.main-ct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 15px;
  margin-top: 100px;

.main-ct h1{
    margin-top: 45px;
}
}
.main-des{
    .des{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
}
}
.idx{
    margin-top: 200px;

.id-tit{
    background-color: rgba(255, 0, 0, 0);
    border: none;
    display: block;
    justify-content: center;
    align-content: center;
    

    
 

    
}
}
}